Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [1]:
# installing selenium

#!pip install selenium

In [2]:
# lets now import all the required libraries

import selenium
import pandas as pd

from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time

In [3]:
# Lets first connect to the web driver

driver=webdriver.Chrome(r"C:\Users\Visual singh\Downloads\chromedriver_win32 (1)\chromedriver.exe")

In [4]:
driver.get('https://www.naukri.com')

In [5]:
# finding element for job search bar

search_field_designation=driver.find_element_by_class_name('suggestor-input ')
search_field_designation.send_keys('Data Analyst')
search_field_location=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_field_location.send_keys('Bangalore')

In [6]:
search_button=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_button.click()

In [7]:
# Creating empty list

job_titles=[]
company_names=[]
locations_list=[]
experience_list=[]

In [8]:
# extracting all the tags where we have the job titles

titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="fb6a19aa19e1c1df5baea0167f60dd2e", element="971c9030-8681-4753-a207-56fc75c439d6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb6a19aa19e1c1df5baea0167f60dd2e", element="f3191a06-1abd-40d2-8a78-c9837214f563")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb6a19aa19e1c1df5baea0167f60dd2e", element="c992ed4b-36f9-4866-beb6-7fa239844e03")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb6a19aa19e1c1df5baea0167f60dd2e", element="3194fe0c-7ee0-472f-a28e-3abed8b5137d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb6a19aa19e1c1df5baea0167f60dd2e", element="ced215d6-db9c-4efa-aa05-9742578cc6f7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb6a19aa19e1c1df5baea0167f60dd2e", element="431a7eea-938a-40bc-9874-f3abd29ad1fb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb6a19aa19e1c1df5baea0167f60dd2e", element="e3ef4a69-f565-45d1-8daf-35f0d9fe402f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb6a19aa19e1c1df5baea0167f60dd2e", element="2381e91b-caf0-441d-8e21-3b15b1c2231b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb6a19aa19e1c1df5baea0167f60dd2e", element="524b7196-0037-4686-bd4f-e5fe8a4c5c61")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb6a19aa19e1c1df5baea0167f60dd2e", element="03cebebc-14e8-49dc-aa0f-9817f89122c1")>]

In [9]:
# extracting all the job titles

for i in titles_tags:
    title=i.text
    job_titles.append(title)  

job_titles[0:10]

['Business and Data Analyst',
 'SAS Analyst / data Analyst / Business analyst - Sas + SQL',
 'Data Analyst I',
 'Senior Data Analyst',
 'Senior Data Analyst, Data & Analytics',
 'Hiring - Zonal Data Analyst (Off Role) - Operations - Bangalore & Delh',
 'Senior Data Analyst',
 'Sr Domain Expert -Data Analysts',
 'Data Analyst Sr',
 'Data Analyst II']

In [10]:
# extracting all the tags where we have the company names

companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="fb6a19aa19e1c1df5baea0167f60dd2e", element="d57c70d9-bd41-44d0-ac3d-e1620135e434")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb6a19aa19e1c1df5baea0167f60dd2e", element="1edf64db-bb09-4bce-8732-cfcd8b026d9c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb6a19aa19e1c1df5baea0167f60dd2e", element="21e74a2c-66d7-4ce6-a836-91a5c297babe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb6a19aa19e1c1df5baea0167f60dd2e", element="cb7e6446-8017-49db-9df2-e0a1b5a5af4a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb6a19aa19e1c1df5baea0167f60dd2e", element="fcebc41a-334c-48f5-b47f-370cca3d5d08")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb6a19aa19e1c1df5baea0167f60dd2e", element="cc0fc6a1-7121-44b9-b8bc-8925ccf923d7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb6a19aa19e1c1df5baea0167f60dd2e", element="413bc5c0-5e7d-4d9c-8f29-cceb29bc6f9f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb6a19aa19e1c1df5baea0167f60dd2e", element="d500ea01-dde5-4f0a-88a7-e36b653ea27a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb6a19aa19e1c1df5baea0167f60dd2e", element="1efb1379-c493-40a2-ab70-5db44d526890")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb6a19aa19e1c1df5baea0167f60dd2e", element="387b3b93-fc28-4ae3-8b1a-2fb53e5f6543")>]

In [11]:
# extracting all the company names

for i in companies_tags:
    company_name=i.text
    company_names.append(company_name)  

company_names[0:10]

['CAREERDOST ENTERPRISE',
 'Leading US MNC into analytics',
 'Bioclinica',
 'Shell',
 'ReSource Pro Operational Solutions Pvt Ltd.',
 'Rupeek',
 'LatentView',
 'Siemens',
 'Epsilon',
 'Cerner']

In [12]:
# extracting all the tags where we have the experience required data

experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
experience_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="fb6a19aa19e1c1df5baea0167f60dd2e", element="90b633aa-6468-4f32-bef8-acd72eb693f4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb6a19aa19e1c1df5baea0167f60dd2e", element="2e52feff-1f7e-43c7-900d-a81c94a04ed9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb6a19aa19e1c1df5baea0167f60dd2e", element="d4dde6f1-9e3d-4f5c-af56-ed06b5ec949e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb6a19aa19e1c1df5baea0167f60dd2e", element="edaf4957-6ba2-4325-8897-a52862b7d834")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb6a19aa19e1c1df5baea0167f60dd2e", element="749a7117-2de2-40e9-aaf5-d620ba8fc778")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb6a19aa19e1c1df5baea0167f60dd2e", element="b7eaf346-7a31-4105-ab7d-155fa45fde8a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb6a19aa19e1c1df5baea0167f60dd2e", element="1595c7ef-f5e8-4f0b-9669-f3e4526bf464")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb6a19aa19e1c1df5baea0167f60dd2e", element="415c5cbf-5da5-447c-9664-783bad9415cf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb6a19aa19e1c1df5baea0167f60dd2e", element="2e1e2c7d-6690-4ae3-9e93-cacb1e7502ff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb6a19aa19e1c1df5baea0167f60dd2e", element="72792994-2ed4-411e-90ba-611a336f945f")>]

In [13]:
# extracting the experience required

for i in experience_tags:
    experience=i.text
    experience_list.append(experience)  

experience_list[0:10]

['0-5 Yrs',
 '2-7 Yrs',
 '0-3 Yrs',
 '10-12 Yrs',
 '3-5 Yrs',
 '2-7 Yrs',
 '3-6 Yrs',
 '0-10 Yrs',
 '5-7 Yrs',
 '6-10 Yrs']

In [14]:
# extracting all the tags where we have the experience required data

locations_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
locations_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="fb6a19aa19e1c1df5baea0167f60dd2e", element="ab2d1a50-f4f3-46a5-92d7-6715711f6ea2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb6a19aa19e1c1df5baea0167f60dd2e", element="f652a3d0-0014-4be4-ab05-e6c987ddcacd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb6a19aa19e1c1df5baea0167f60dd2e", element="54fd369f-5d6b-4518-be86-000e61bd71f9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb6a19aa19e1c1df5baea0167f60dd2e", element="b1ff945c-aa84-46a6-bd52-4843e7435fc1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb6a19aa19e1c1df5baea0167f60dd2e", element="da1caf87-d4cf-41e2-98b1-5f2ebbf02cde")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb6a19aa19e1c1df5baea0167f60dd2e", element="8f72f890-6909-4b83-9383-157dbe796753")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb6a19aa19e1c1df5baea0167f60dd2e", element="82e3f815-e005-4756-a1e0-31bcdc5d8494")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb6a19aa19e1c1df5baea0167f60dd2e", element="37fa23a2-f894-4a94-a82a-5d8419c8fc7d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb6a19aa19e1c1df5baea0167f60dd2e", element="0abd6ee4-8a07-485a-9dc7-1d5c7cb4888f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb6a19aa19e1c1df5baea0167f60dd2e", element="47906131-5fd5-4dc9-8e53-8c9818b2ffc8")>]

In [15]:
# extracting the experience required

for i in locations_tags:
    location=i.text
    locations_list.append(location)  

locations_list[0:10]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'New Delhi, Bangalore/Bengaluru',
 'Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [16]:
# checking the length of each list

print(len(job_titles),len(company_names),len(experience_list),len(locations_list))

20 20 20 20

In [17]:
import pandas as pd

In [18]:
# creating dataframe

jobs=pd.DataFrame({})

jobs['title']=job_titles
jobs['company']=company_names
jobs['experience_required']=experience_list
jobs['locations']=locations_list

In [19]:
jobs

,title,company,experience_required,locations
0,Business and Data Analyst,CAREERDOST ENTERPRISE,0-5 Yrs,Bangalore/Bengaluru
1,SAS Analyst / data Analyst / Business analyst ...,Leading US MNC into analytics,2-7 Yrs,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ..."
2,Data Analyst I,Bioclinica,0-3 Yrs,Bangalore/Bengaluru
3,Senior Data Analyst,Shell,10-12 Yrs,Bangalore/Bengaluru
4,"Senior Data Analyst, Data & Analytics",ReSource Pro Operational Solutions Pvt Ltd.,3-5 Yrs,Bangalore/Bengaluru
5,Hiring - Zonal Data Analyst (Off Role) - Opera...,Rupeek,2-7 Yrs,"New Delhi, Bangalore/Bengaluru"
6,Senior Data Analyst,LatentView,3-6 Yrs,"Chennai, Bangalore/Bengaluru"
7,Sr Domain Expert -Data Analysts,Siemens,0-10 Yrs,Bangalore/Bengaluru
8,Data Analyst Sr,Epsilon,5-7 Yrs,Bangalore/Bengaluru
9,Data Analyst II,Cerner,6-10 Yrs,Bangalore/Bengaluru
10,Senior Data Analyst II,Flipkart,2-4 Yrs,Bangalore/Bengaluru
11,Senior Data Analyst II,Flipkart,3-6 Yrs,Bangalore/Bengaluru
12,Senior Data Analyst - Logistics,Gojek,4-10 Yrs,Bangalore/Bengaluru
13,Financial Data Analyst - FIG,Moody's,1-3 Yrs,Bangalore/Bengaluru
14,Data Analyst,Cleartrip,2-6 Yrs,Bangalore/Bengaluru
15,Data Analysts with Business Analysis,Avanze Technologies India Pvt. Ltd.,6-8 Yrs,Bangalore/Bengaluru
16,Senior Data Analyst (Digital Services Analytics),Dell Technologies,1-6 Yrs,Bangalore/Bengaluru
17,Data Analyst / Data Engineer,TALENT MAX HR & MANAGEMENT CONSULTANTS,8-13 Yrs,"Indore, Pune, Bangalore/Bengaluru"
18,Lead Data Analyst - Risk Analytics,Gojek,5-11 Yrs,Bangalore/Bengaluru
19,Sr Data Management Analyst,Moody's,3-6 Yrs,Bangalore/Bengaluru

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [20]:
driver.get('https://www.naukri.com')

In [21]:
# finding element for job search bar

search_field_designation=driver.find_element_by_class_name('suggestor-input ')
search_field_designation.send_keys('Data Analyst')
search_field_location=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_field_location.send_keys('Bangalore')

In [22]:
search_button=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_button.click()

In [23]:
# Creating empty list

job_titles=[]
company_names=[]
locations_list=[]

In [24]:
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="fb6a19aa19e1c1df5baea0167f60dd2e", element="480d57d4-42e3-4dd4-864b-c40218caeef4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb6a19aa19e1c1df5baea0167f60dd2e", element="fbaa226a-d785-414e-9578-855d30c3dc65")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb6a19aa19e1c1df5baea0167f60dd2e", element="e4942b02-6582-43c5-bb2a-32a958e2d342")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb6a19aa19e1c1df5baea0167f60dd2e", element="43c1780b-37db-4551-97cb-80d7307c8cc7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb6a19aa19e1c1df5baea0167f60dd2e", element="7f8dc2c1-049b-4383-a040-b9a7c848c0f6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb6a19aa19e1c1df5baea0167f60dd2e", element="0a03847c-ec62-4892-bab7-9fa00c414440")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb6a19aa19e1c1df5baea0167f60dd2e", element="a0f15f72-b2b2-43fc-a104-18228234a216")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb6a19aa19e1c1df5baea0167f60dd2e", element="24a09032-a492-4aab-8b07-bc0642f02e81")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb6a19aa19e1c1df5baea0167f60dd2e", element="6cb87726-cfa2-42da-805f-8e4bbec0b325")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb6a19aa19e1c1df5baea0167f60dd2e", element="c8a16656-797d-4f01-8592-eb3de3f34312")>]

In [25]:
# extracting all the job titles

for i in titles_tags:
    title=i.text
    job_titles.append(title)  

job_titles[0:10]

['Business and Data Analyst',
 'SAS Analyst / data Analyst / Business analyst - Sas + SQL',
 'Data Analyst I',
 'Senior Data Analyst',
 'Senior Data Analyst, Data & Analytics',
 'Hiring - Zonal Data Analyst (Off Role) - Operations - Bangalore & Delh',
 'Senior Data Analyst',
 'Sr Domain Expert -Data Analysts',
 'Data Analyst Sr',
 'Data Analyst II']

In [26]:
# extracting all the tags where we have the company names

companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="fb6a19aa19e1c1df5baea0167f60dd2e", element="6e0dce3a-2ec0-4a3c-a8fc-080ad91ab107")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb6a19aa19e1c1df5baea0167f60dd2e", element="9d442cd0-032e-46ad-bd66-43c971d7d12e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb6a19aa19e1c1df5baea0167f60dd2e", element="b78ec98b-8064-477a-9b01-ef5ce513e563")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb6a19aa19e1c1df5baea0167f60dd2e", element="68c46157-112a-47ef-a03e-f2045d992168")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb6a19aa19e1c1df5baea0167f60dd2e", element="49e9033e-bd42-4a27-9370-5139239b1019")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb6a19aa19e1c1df5baea0167f60dd2e", element="12635583-580e-4480-8546-7aa9a7682a88")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb6a19aa19e1c1df5baea0167f60dd2e", element="a8de2efd-ff1f-4a9b-9b16-6fbff2282fc6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb6a19aa19e1c1df5baea0167f60dd2e", element="8ab0b38c-d605-4487-af88-c03cb798c920")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb6a19aa19e1c1df5baea0167f60dd2e", element="df490a03-1878-4642-8db4-c82b09cf86ae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb6a19aa19e1c1df5baea0167f60dd2e", element="85c8d32a-2fc4-496e-80ed-28c48de04f55")>]

In [27]:
# extracting all the company names

for i in companies_tags:
    company_name=i.text
    company_names.append(company_name)  

company_names[0:10]

['CAREERDOST ENTERPRISE',
 'Leading US MNC into analytics',
 'Bioclinica',
 'Shell',
 'ReSource Pro Operational Solutions Pvt Ltd.',
 'Rupeek',
 'LatentView',
 'Siemens',
 'Epsilon',
 'Cerner']

In [28]:
# extracting all the tags where we have the experience required data

locations_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
locations_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="fb6a19aa19e1c1df5baea0167f60dd2e", element="ccfbcedb-7739-4aa4-8cb5-0ca026ccf9cd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb6a19aa19e1c1df5baea0167f60dd2e", element="971e8272-cd29-402b-bd7f-58b0093549dc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb6a19aa19e1c1df5baea0167f60dd2e", element="23f9c8bc-c218-4b88-aa5f-ae91473705c8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb6a19aa19e1c1df5baea0167f60dd2e", element="14b22a9e-1c12-4dad-983a-4037768401e9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb6a19aa19e1c1df5baea0167f60dd2e", element="7a5412ed-4a1b-4277-a4ac-d880b5ec582a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb6a19aa19e1c1df5baea0167f60dd2e", element="68412def-3447-4e19-9f54-2feb000eab77")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb6a19aa19e1c1df5baea0167f60dd2e", element="424e1c04-481a-4591-bce2-27172a132144")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb6a19aa19e1c1df5baea0167f60dd2e", element="994eb8f5-19a2-4a29-b3e0-e143013bbc8f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb6a19aa19e1c1df5baea0167f60dd2e", element="61024eb6-b37c-41a1-9dc8-6bddc7fcaadf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fb6a19aa19e1c1df5baea0167f60dd2e", element="8e4a1b24-f41d-4db7-ab5a-9e6d5356f45b")>]

In [29]:
# extracting the experience required

for i in locations_tags:
    location=i.text
    locations_list.append(location)  

locations_list[0:10]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'New Delhi, Bangalore/Bengaluru',
 'Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [30]:
# creating dataframe

jobs=pd.DataFrame({})

jobs['title']=job_titles
jobs['company']=company_names
jobs['locations']=locations_list

In [31]:
jobs

,title,company,locations
0,Business and Data Analyst,CAREERDOST ENTERPRISE,Bangalore/Bengaluru
1,SAS Analyst / data Analyst / Business analyst ...,Leading US MNC into analytics,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ..."
2,Data Analyst I,Bioclinica,Bangalore/Bengaluru
3,Senior Data Analyst,Shell,Bangalore/Bengaluru
4,"Senior Data Analyst, Data & Analytics",ReSource Pro Operational Solutions Pvt Ltd.,Bangalore/Bengaluru
5,Hiring - Zonal Data Analyst (Off Role) - Opera...,Rupeek,"New Delhi, Bangalore/Bengaluru"
6,Senior Data Analyst,LatentView,"Chennai, Bangalore/Bengaluru"
7,Sr Domain Expert -Data Analysts,Siemens,Bangalore/Bengaluru
8,Data Analyst Sr,Epsilon,Bangalore/Bengaluru
9,Data Analyst II,Cerner,Bangalore/Bengaluru
10,Senior Data Analyst II,Flipkart,Bangalore/Bengaluru
11,Senior Data Analyst II,Flipkart,Bangalore/Bengaluru
12,Senior Data Analyst - Logistics,Gojek,Bangalore/Bengaluru
13,Financial Data Analyst - FIG,Moody's,Bangalore/Bengaluru
14,Data Analyst,Cleartrip,Bangalore/Bengaluru
15,Data Analysts with Business Analysis,Avanze Technologies India Pvt. Ltd.,Bangalore/Bengaluru
16,Senior Data Analyst (Digital Services Analytics),Dell Technologies,Bangalore/Bengaluru
17,Data Analyst / Data Engineer,TALENT MAX HR & MANAGEMENT CONSULTANTS,"Indore, Pune, Bangalore/Bengaluru"
18,Lead Data Analyst - Risk Analytics,Gojek,Bangalore/Bengaluru
19,Sr Data Management Analyst,Moody's,Bangalore/Bengaluru

Q3: You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.

In [32]:
# lets now import all the required libraries

import selenium
import pandas as pd

from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time

In [33]:
# Lets first connect to the web driver

driver=webdriver.Chrome(r"C:\Users\Visual singh\Downloads\chromedriver_win32 (1)\chromedriver.exe")

In [34]:
driver.get('https://www.naukri.com')

In [35]:
# finding element for job search bar

search_field_designations=driver.find_element_by_class_name('suggestor-input ')
search_field_designations.send_keys('Data Scientist')

In [36]:
search_button=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_button.click()

In [65]:
location_search=driver.find_elements_by_xpath("//input[@id='chk-Delhi / NCR-cityTypeGid-']").click();//Delhi/NCR
location_search[0:10]

SyntaxError: invalid syntax (<ipython-input-65-09e4713aae7f>, line 1)

In [58]:
for i in location_search:
    location_name=i.text
    location_names.append(location_name)  

location_names[0:10]

NameError: name 'location_names' is not defined